* { 
    padding: 20px;}

p {
    font-size: 15;
    color: rgb(6, 6, 6);
    max-width: 600px;
}
pre {
    font-size:20;
    color:rgb(6, 6, 6);
}
img {
    max-width: 50%;
    height: auto;
}

body {
    background-color: rgbrgb(241, 233, 117);
}
nav{
    max-height: 110px;
    min-height: 50px;
    max-width: 600px;
    background-color: rgb(240, 162, 67);
}
